build
lib
obj
*.o
*.a
*.pyc
results
log
dreamplace/version.py
dist
dreamplace.egg-info
install
*.so
thirdparty/flute
.DS_Store
.vscode/*
bin
tuner_logs/
*.json
!pcb_geometry.json
!experiments/m336/configs/*.json
!experiments/m336/input/*.json
!experiments/m336/schemas/*.json
!experiments/m336/checkpoints/**/*.json
!experiments/m336/guides/**/*.json
